*
{
   margin: 0;
   padding: 0;
}
  
header
{
   background-image: url(pic1.jpg);
   height: 100vh;
   background-size: cover;
   backgorund-position: center;
}

.main-nav
{
   float: right;
   list-style: none;
   margine-top: 30px;  
}

.main-nav li
{
   display: inline-block;
}

.main-nav li
{
   color: black;
   text-decoration: none;
   padding: 5px 20px; 
   font-family: "Roboto", sans-serif;
   font-size: 15px;
}

.main-nav li.active a
{
   border: 1px solid black;
}

.main-nav li a:hover
{
   border: 1px solid black; 
}

.logo img
{
   width: 150px;
   height: auto;
   float: left;
}

body
{
   font-family: monospace;
}

.row
{
   max-width: 2000px;
   margin: auto;
}

.welcome
{
   position: absolute;
   width: 900px;
   margin-left: 0;
   margin-top: 0;
}

h1
{
   color: cyan;
   text-transform: uppercase;
   font-size: 100px;
   text-align: center;
   margin-top: 150px;
}
