*
{
   margin: 0;
   padding: 0;
}
  
.header
{
   height: 100vh;
}

.navbar-style
{
   box-shadow: 0 5px 10px #efefef;
   text-transform: uppercase;
}

.logo
{
   height: 48px;
   padding: 2px 10px;
}

.icon-bar
{
   background: darkblue;
}

li a
{
   color: #333;
}

.welcome
{
   position: absolute;
   width: 900px;
   margin-left: 0;
   margin-top: 10;
}

h1
{
   color: black;
   text-transform: uppercase;
   font-size: 100px;
   text-align: center;
   margin-top: 350px;
}

a.btn
{
   margin-top: 30px;
   margin-left: 940px;
   width: 150px;
   padding: 10px;
   border-radius: 20px;
}

a.btn-one
{

   color: black;
   background-color: white;
   font-size: 33px;
   text-transform: uppercase;

}

.btn-one:hover
{
   background-color: lightblue;
   border: none;
   color: #fff;
   box-shadow: 5px 5px 10px #999;
   transition: all 0.3s ease-in;
}

.info
{
   position: absolute;
   width: 800px;
   margin-left: 50px;
   margin-top: 0;
}

h2
{
   color: black;
   text-transform: none;
   font-size: 15px;
   text-align: justify;
   margin-top: 100px;
}

.services
{
   position: absolute;
   width: 800px;
   margin-left: 50px;
   margin-top: 0;
}

h3
{
   color: black;
   text-transform: none;
   font-size: 15px;
   text-align: justify;
   margin-top: 100px;
}

.contacts
{
   position: absolute;
   width: 800px;
   margin-left: 50px;
   margin-top: 0;
}

h4
{
   color: black;
   text-transform: none;
   font-size: 15px;
   text-align: justify;
   margin-top: 100px;
}

.faqs
{
   position: absolute;
   width: 800px;
   margin-left: 50px;
   margin-top: 0;
}

html, body 
{
    height: 100%;
}

.container
{
   position: relative;
   text-align: center;
   color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered
{
   position: absolute;
   top: 50%;
   left: 50%
   transform: translate(-50%, 50%; 
}
